.Conteiner-Cont{
    background-color: rgba(225, 225, 225, 0.7);
    width: 40vh;
    border-radius: 1.5em;
    padding: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.Btn-conteiner{
    display: flex;
}
.Btn-cont{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    color: white;
    margin-bottom: 2em;
    margin: 1em;
    width: 10vh;
    height: 7vh;
    background-color: rgb(210, 87, 87);
    border-radius: 1.5em;
    box-shadow:inset -2px -2px 3px rgb(63, 8, 8);
    cursor: pointer;
    text-shadow: rgb(3, 3, 3) 1px 1px 1px,
    rgb(3, 3, 3) 2px 2px 2px,
    rgb(3, 3, 3) 3px 3px 2px,
    rgb(3, 3, 3) 4px 4px 2px,
    rgba(3, 3, 3, 0.925) 5px 5px 2px,
    rgba(3, 3, 3, 0.842) 6px 6px 2px,
    rgba(3, 3, 3, 0.623) 7px 7px 2px;
    transition: 0.5s ease-in-out;
   
    
}
.Btn-cont:hover{
    background-color: rgb(170, 56, 56);
    box-shadow:inset -2px -2px 3px rgb(19, 2, 2);
    
}
span{
    margin-top: 1em;
    width: 1.5em;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0.5px black;
    background-color: rgb(65, 62, 62);
    border-radius: 2em;
   
}
.HContador{
    padding: 1em;
    height: 0.5em;
    color: rgb(0, 0, 0);
    text-shadow: -1px 0.5px rgba(255, 255, 255, 0.872) ;
}