.number{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3em;
    margin-bottom: 1em;
    color: rgb(228, 220, 220);
    text-shadow: -2px 0.5px black;
    background-color:rgb(65, 62, 62);
}
.Start{
    font-size: 1.5em;
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 168, 23);
    box-shadow:inset -2px -2px 3px rgb(4, 48, 4);
}
.Pause{
    font-size: 1.5em;
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 144, 144);
    box-shadow:inset -2px -2px 3px rgb(19, 3, 3) ;
}
.Stop{
    font-size: 1.5em;
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 39, 39);
    box-shadow:inset -2px -2px 3px rgb(126, 6, 6) ;
}
.Start:hover{
    background-color: rgb(7, 59, 7);
    box-shadow:inset -2px -2px 3px rgb(4, 29, 4);
}
.Pause:hover{
    background-color: rgb(54, 52, 52);
    box-shadow:inset -2px -2px 3px rgb(8, 3, 3) ;
}
.Stop:hover{
    background-color: rgb(109, 9, 9);
    box-shadow:inset -2px -2px 3px rgb(39, 3, 3) ;
}